body {
    font-family: 'Roboto Mono', monospace;
    font-size: 3em;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(73, 51, 41);
  }
  
  p {
    width: 30%;
    text-align: center;
    color: #fff;
    font-size: 30px;
  }
  
  del {
    text-decoration-color: rgb(255, 0, 0);
  }
  
  ins {
    text-decoration: none;
    font-family: 'Caveat', cursive;
    font-size: 1.5em;
    color: rgb(255, 0, 0);
    position:absolute;
    transform:rotate(-10deg);
    margin-left: -20px;
    margin-top: -40px;
  }
  .btn {
    margin            : 10%;
    text-align        : center;
    width             : 120px;
    font-size         : 16px;
    font-weight       : 600;
    color             : #fff;
    cursor            : pointer;
    height            : 55px;
    text-align        : center;
    border            : none;
    background-size   : 300% 100%;
    border-radius     : 50px;
    -o-transition     : all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition        : all .4s ease-in-out;
    background-image  : linear-gradient(to right, #91e280, #5cce66, #62ca4d, #42da1ca9);
    box-shadow        : 0 4px 15px 0 rgba(11, 49, 17, 0.5);
}

.btn :hover {
    background-position: 100% 0;
    -o-transition      : all .4s ease-in-out;
    -webkit-transition : all .4s ease-in-out;
    transition         : all .4s ease-in-out;
}

.btn :focus {
    outline: none;
}